DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/training_diary

JWT_SECRET_KEY=your-secret-key-change-in-production

REDIS_HOST=redis-container-host

REDIS_PORT=6379

SMTP_EMAIL=your-smtp-email-here

SMTP_APP_PASSWORD=your-smtp-app-password-here

OWNER_NAME=name-of-user-with-owner-rights

OWNER_USERNAME=username-of-user-with-owner-rights

OWNER_EMAIL=email-of-user-with-oswner-rights

OWNER_PASSWORD=password-of-user-with-owner-rights

OWNER_AGE=0 #age-of-user-with-owner-rights